<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaDistritosServlet</servlet-name>
  	<display-name>VistaDistritosServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaDistritosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IngresarDistritosServlet</servlet-name>
  	<display-name>IngresarDistritosServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.IngresarDistritosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActualizarDistritosServlet</servlet-name>
  	<display-name>ActualizarDistritosServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.ActualizarDistritosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminarDistritosServlet</servlet-name>
  	<display-name>EliminarDistritosServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.EliminarDistritosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaTributosServlet</servlet-name>
  	<display-name>VistaTributosServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaTributosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IngresarTributosServlet</servlet-name>
  	<display-name>IngresarTributosServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.IngresarTributosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActualizarTributosServlet</servlet-name>
  	<display-name>ActualizarTributosServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.ActualizarTributosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminarTributoServlet</servlet-name>
  	<display-name>EliminarTributoServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.EliminarTributoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaPosicionesServlet</servlet-name>
  	<display-name>VistaPosicionesServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaPosicionesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaMentoresServlet</servlet-name>
  	<display-name>VistaMentoresServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaMentoresServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IngresarMentoresServlet</servlet-name>
  	<display-name>IngresarMentoresServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.IngresarMentoresServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModificarMentoresServlet</servlet-name>
  	<display-name>ModificarMentoresServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.ModificarMentoresServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminarMentoresServlet</servlet-name>
  	<display-name>EliminarMentoresServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.EliminarMentoresServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaPruebasServlet</servlet-name>
  	<display-name>VistaPruebasServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaPruebasServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IngresarPruebasServlet</servlet-name>
  	<display-name>IngresarPruebasServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.IngresarPruebasServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActualizarPruebasServlet</servlet-name>
  	<display-name>ActualizarPruebasServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.ActualizarPruebasServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminarPruebasServlet</servlet-name>
  	<display-name>EliminarPruebasServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.EliminarPruebasServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaVigilantesServlet</servlet-name>
  	<display-name>VistaVigilantesServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaVigilantesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IngresarVigilantesServlet</servlet-name>
  	<display-name>IngresarVigilantesServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.IngresarVigilantesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActualizarVigilantesServlet</servlet-name>
  	<display-name>ActualizarVigilantesServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.ActualizarVigilantesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminarVigilantesServlet</servlet-name>
  	<display-name>EliminarVigilantesServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.EliminarVigilantesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaVigilantesUserVigilanteServlet</servlet-name>
  	<display-name>VistaVigilantesUserVigilanteServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaVigilantesUserVigilanteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaPruebasUserVigilante</servlet-name>
  	<display-name>VistaPruebasUserVigilante</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaPruebasUserVigilante</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaPuntuacionesServlet</servlet-name>
  	<display-name>VistaPuntuacionesServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaPuntuacionesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IngresarPuntuacionesServlet</servlet-name>
  	<display-name>IngresarPuntuacionesServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.IngresarPuntuacionesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActualizarPuntuacionesServlet</servlet-name>
  	<display-name>ActualizarPuntuacionesServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.ActualizarPuntuacionesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminarPuntuacionesServlet</servlet-name>
  	<display-name>EliminarPuntuacionesServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.EliminarPuntuacionesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaTributosUserMentor_TributoServlet</servlet-name>
  	<display-name>VistaTributosUserMentor_TributoServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaTributosUserMentor_TributoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaParticipacionesServlet</servlet-name>
  	<display-name>VistaParticipacionesServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaParticipacionesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IngresarParticipacionesServlet</servlet-name>
  	<display-name>IngresarParticipacionesServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.IngresarParticipacionesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActualizarParticipacionesServlet</servlet-name>
  	<display-name>ActualizarParticipacionesServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.ActualizarParticipacionesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminarParticipacionesServlet</servlet-name>
  	<display-name>EliminarParticipacionesServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.EliminarParticipacionesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaDificultadesServlet</servlet-name>
  	<display-name>VistaDificultadesServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaDificultadesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaEntrenamientoServlet</servlet-name>
  	<display-name>VistaEntrenamientoServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaEntrenamientoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaCapitolioServlet</servlet-name>
  	<display-name>VistaCapitolioServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaCapitolioServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IngresarCapitolioServlet</servlet-name>
  	<display-name>IngresarCapitolioServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.IngresarCapitolioServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActualizarCapitolioServlet</servlet-name>
  	<display-name>ActualizarCapitolioServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.ActualizarCapitolioServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminarCapitolioServlet</servlet-name>
  	<display-name>EliminarCapitolioServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.EliminarCapitolioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaDistritosServlet</servlet-name>
  	<url-pattern>/VistaDistritosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IngresarDistritosServlet</servlet-name>
  	<url-pattern>/IngresarDistritosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActualizarDistritosServlet</servlet-name>
  	<url-pattern>/ActualizarDistritosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EliminarDistritosServlet</servlet-name>
  	<url-pattern>/EliminarDistritosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaTributosServlet</servlet-name>
  	<url-pattern>/VistaTributosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IngresarTributosServlet</servlet-name>
  	<url-pattern>/IngresarTributosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActualizarTributosServlet</servlet-name>
  	<url-pattern>/ActualizarTributosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EliminarTributoServlet</servlet-name>
  	<url-pattern>/EliminarTributoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaPosicionesServlet</servlet-name>
  	<url-pattern>/VistaPosicionesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaMentoresServlet</servlet-name>
  	<url-pattern>/VistaMentoresServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IngresarMentoresServlet</servlet-name>
  	<url-pattern>/IngresarMentoresServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModificarMentoresServlet</servlet-name>
  	<url-pattern>/ModificarMentoresServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EliminarMentoresServlet</servlet-name>
  	<url-pattern>/EliminarMentoresServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaPruebasServlet</servlet-name>
  	<url-pattern>/VistaPruebasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IngresarPruebasServlet</servlet-name>
  	<url-pattern>/IngresarPruebasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActualizarPruebasServlet</servlet-name>
  	<url-pattern>/ActualizarPruebasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EliminarPruebasServlet</servlet-name>
  	<url-pattern>/EliminarPruebasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaVigilantesServlet</servlet-name>
  	<url-pattern>/VistaVigilantesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IngresarVigilantesServlet</servlet-name>
  	<url-pattern>/IngresarVigilantesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActualizarVigilantesServlet</servlet-name>
  	<url-pattern>/ActualizarVigilantesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EliminarVigilantesServlet</servlet-name>
  	<url-pattern>/EliminarVigilantesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaVigilantesUserVigilanteServlet</servlet-name>
  	<url-pattern>/VistaVigilantesUserVigilanteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaPruebasUserVigilante</servlet-name>
  	<url-pattern>/VistaPruebasUserVigilante</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaPuntuacionesServlet</servlet-name>
  	<url-pattern>/VistaPuntuacionesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IngresarPuntuacionesServlet</servlet-name>
  	<url-pattern>/IngresarPuntuacionesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActualizarPuntuacionesServlet</servlet-name>
  	<url-pattern>/ActualizarPuntuacionesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EliminarPuntuacionesServlet</servlet-name>
  	<url-pattern>/EliminarPuntuacionesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaTributosUserMentor_TributoServlet</servlet-name>
  	<url-pattern>/VistaTributosUserMentor_TributoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaParticipacionesServlet</servlet-name>
  	<url-pattern>/VistaParticipacionesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IngresarParticipacionesServlet</servlet-name>
  	<url-pattern>/IngresarParticipacionesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActualizarParticipacionesServlet</servlet-name>
  	<url-pattern>/ActualizarParticipacionesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EliminarParticipacionesServlet</servlet-name>
  	<url-pattern>/EliminarParticipacionesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaDificultadesServlet</servlet-name>
  	<url-pattern>/VistaDificultadesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaEntrenamientoServlet</servlet-name>
  	<url-pattern>/VistaEntrenamientoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaCapitolioServlet</servlet-name>
  	<url-pattern>/VistaCapitolioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IngresarCapitolioServlet</servlet-name>
  	<url-pattern>/IngresarCapitolioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActualizarCapitolioServlet</servlet-name>
  	<url-pattern>/ActualizarCapitolioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EliminarCapitolioServlet</servlet-name>
  	<url-pattern>/EliminarCapitolioServlet</url-pattern>
  </servlet-mapping>
</web-app>
