<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaDistritosServlet</servlet-name>
  	<display-name>VistaDistritosServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaDistritosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IngresarDistritosServlet</servlet-name>
  	<display-name>IngresarDistritosServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.IngresarDistritosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActualizarDistritosServlet</servlet-name>
  	<display-name>ActualizarDistritosServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.ActualizarDistritosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminarDistritosServlet</servlet-name>
  	<display-name>EliminarDistritosServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.EliminarDistritosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaTributosServlet</servlet-name>
  	<display-name>VistaTributosServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaTributosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IngresarTributosServlet</servlet-name>
  	<display-name>IngresarTributosServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.IngresarTributosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActualizarTributosServlet</servlet-name>
  	<display-name>ActualizarTributosServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.ActualizarTributosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminarTributoServlet</servlet-name>
  	<display-name>EliminarTributoServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.EliminarTributoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaPosicionesServlet</servlet-name>
  	<display-name>VistaPosicionesServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaPosicionesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VistaMentoresServlet</servlet-name>
  	<display-name>VistaMentoresServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.VistaMentoresServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IngresarMentoresServlet</servlet-name>
  	<display-name>IngresarMentoresServlet</display-name>
  	<description></description>
  	<servlet-class>controladores.IngresarMentoresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaDistritosServlet</servlet-name>
  	<url-pattern>/VistaDistritosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IngresarDistritosServlet</servlet-name>
  	<url-pattern>/IngresarDistritosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActualizarDistritosServlet</servlet-name>
  	<url-pattern>/ActualizarDistritosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EliminarDistritosServlet</servlet-name>
  	<url-pattern>/EliminarDistritosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaTributosServlet</servlet-name>
  	<url-pattern>/VistaTributosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IngresarTributosServlet</servlet-name>
  	<url-pattern>/IngresarTributosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActualizarTributosServlet</servlet-name>
  	<url-pattern>/ActualizarTributosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EliminarTributoServlet</servlet-name>
  	<url-pattern>/EliminarTributoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaPosicionesServlet</servlet-name>
  	<url-pattern>/VistaPosicionesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VistaMentoresServlet</servlet-name>
  	<url-pattern>/VistaMentoresServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IngresarMentoresServlet</servlet-name>
  	<url-pattern>/IngresarMentoresServlet</url-pattern>
  </servlet-mapping>
</web-app>
